a {
	color: #0C3EB8;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

img {
	max-width: 100%;
}

html {
	background-color: #ffffff;
	font-size: 16px;
	line-height: 1.5;
	color: #545454;
}

body {
	background-color: transparent;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Roboto', sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 1.6;
	font-weight: 300;
	font-size: 15px;
}

.container {
	max-width: 1200px;
}

/*CSS header*/
#header {
	position: relative;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid #000;
	z-index: 3;
}

.site-header__wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav ul.menu {
	padding: 0;
	margin: 0;
	display: flex;
}

.nav ul li {
	list-style: none;
	position: relative;
}

.nav a {
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	text-shadow: -1px -1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, 1px 1px 0 #000;
}

.menu-toggle {
	display: none;
	background: transparent;
	border: none;
	line-height: 1;
	cursor: pointer;
	padding: 0 5px;
}

.menu-toggle svg {
	fill: #fff;
	width: 20px;
}

.nav .sub-menu {
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 999;
	background: #fff;
	width: max-content;
	box-shadow: var(--shadow-md);
	text-indent: 0;
	display: none;
	padding: 0;
	border: 1px solid;
}

.nav li.menu-active a {
	color: #fac14d;
}

.nav li:hover a {
	color: #fac14d;
}

.nav li:hover .sub-menu {
	display: block;
}

.nav li:hover .sub-menu a {
	color: #000;
}

.sub-menu li {
	padding: 6px 15px;
	border-bottom: 1px solid #000;
}

.sub-menu li:last-child {
	border-bottom: 0;
}

.sub-menu a {
	color: #000;
	font-size: 13px;
	font-weight: 400;
	text-decoration: none;
	padding: 10px 0;
	line-height: 1.2;
	text-shadow: none
}

.nav li:hover .sub-menu a:hover {
	color: #fac14d;
}

/*CSS hero-header*/
.hero-header {
	position: relative;
}

.hero-header .slick-prev {
	width: 52px;
	height: 52px;
	background: url(../images/prev.png) no-repeat;
	top: 50%;
	left: 0;
	position: absolute;
	border: 0;
	z-index: 2;
}

.hero-header .slick-next {
	width: 52px;
	height: 52px;
	background: url(../images/next.png) no-repeat;
	top: 50%;
	right: 0;
	position: absolute;
	border: 0;
	z-index: 2;
}

.hero-header ul {
	padding: 0;
	margin: 0;
}

.hero-header ul li {
	list-style: none;
}

.hero-header ul.slick-dots {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero-header ul.slick-dots li {
	padding: 0 5px;
}

.hero-header ul.slick-dots button {
	width: 10px;
	height: 14px;
	border: 1px solid #000;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 100%;
	text-indent: -9999px;
}


.hero-header ul.slick-dots li.slick-active button {
	background: #fff;
}

/*CSS Service home*/
.service-home {
	position: relative;
	padding: 50px 0 20px;
}

.service-home h2.title {
	font-size: 30px;
	color: #000;
	margin: 0 0 50px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}

.service-home h2.title::after {
	content: '';
	display: block;
	width: 283px;
	height: 19px;
	background: url('../images/bg_title.jpg') no-repeat center;
	margin: auto;
}

.service-home__wrap {
	position: relative;
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}

.service-home__item {
	width: 31%;
	position: relative;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 3px 1px #ccc;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow: hidden;
}

.service-home__item h3 {
	font-size: 22px;
	color: #000;
	text-transform: uppercase;
	font-weight: 700;
	margin: 25px 40px 15px;
}

.service-home__item img {
	transition: all 1s ease;
}

.service-home__item:hover img {
	transform: scale(1.1);
}

.service-home__item p {
	padding: 0 10px;
}

.service-home__item a.seemore {
	display: inline-flex;
	background: #fdb91f;
	color: #000;
	font-weight: 700;
	padding: 10px 20px;
	align-items: center;
	margin-bottom: 15px;
	text-decoration: none;
}

.service-home__item a.seemore:hover {
	background: #000;
	color: #fff;
}

/*Quy trinh*/
.quy-trinh {
	position: relative;
	padding: 20px 0;
	background: url('../images/bg_quy_trinh.JPG') no-repeat center;
	background-attachment: fixed;
	background-size: cover;
}

.quy-trinh::after {
	content: '';
	display: block;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.quy-trinh__wrap {
	position: relative;
	z-index: 2;
}

.quy-trinh h2.title {
	display: inline-block;
	color: #fff;
	margin-bottom: 50px;
	border-bottom: 1px solid #fdb91f;
	margin-left: 15px;
}

.quy-trinh__inner {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.quy-trinh__item {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: start;
}

.quy-trinh__item::after {
	content: '';
	display: block;
	background: #343433;
	position: absolute;
	width: 80px;
	height: 45px;
	top: 44%;
	right: -28px;
	transform: rotate(32deg);
	z-index: 2;
}

.quy-trinh__image {
	border: 1px solid #fac14d;
	border-radius: 100%;
}

.quy-trinh__item:last-child:after {
	display: none;
}

.quy-trinh__item:nth-child(2n):after {
	transform: rotate(150deg);
}

.quy-trinh__content {
	margin-top: 20px;
	padding-left: 30px;
}

.quy-trinh__item img {
	border: 29px solid #343433;
	border-radius: 100%;
}

.quy-trinh__item h2 {
	color: #fdb91f;
	font-size: 60px;
	margin: 0;
	text-shadow: -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 1px 1px 0 #fff;
}

.quy-trinh__item h3 {
	font-size: 22px;
	color: #fff;
}

.quy-trinh__item:nth-child(2n) .quy-trinh__image {
	order: 2;
}

.quy-trinh__item:nth-child(2n) .quy-trinh__content {
	margin-top: 0;
	margin-bottom: 20px;
}

/*CSS Project*/
.project-home {
	position: relative;
	padding: 50px 0;
}

.project-home ul.tabs {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 0 50px;
	margin: 0;
}

.project-home ul.tabs li {
	list-style: none;
	padding: 7px 10px;
	overflow: hidden;
	margin-bottom: 10px;
}

.project-home ul.tabs a {
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	padding: 5px 15px;
	border-radius: 5px;
}

.project-home ul.tabs a.current {
	background: #fac14d;
}

.tab-content {
	position: relative;
	display: none;
}

.tab-content.current {
	display: block;
}

.project-home__wrap {
	position: relative;
}

.project-home__image,
.project-home__item {
	position: relative;
	overflow: hidden;
}

.project-home__image::after {
	content: '';
	display: block;
	padding-bottom: 75%;
}

.project-home__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	transition: all 1s ease;
}

.project-home__item h3 {
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	left: 0;
	right: 0;
	margin: 0;
	padding: 10px 15px;
	opacity: 0;
}

.project-home__item a {
	color: #fff;
	text-decoration: none;
	display: block;
}

.project-home__item:hover img {
	filter: grayscale(0%);
	transform: scale(1.1);
}

.project-home__item:hover h3 {
	opacity: 1;
}

.slick-slide div {
	display: flex;
}

.project-home__wrap .slick-prev {
	width: 52px;
	height: 52px;
	background: url('../images/prev.png') no-repeat;
	top: 50%;
	left: 0;
	position: absolute;
	border: 0;
	z-index: 2;
}

.project-home__wrap .slick-next {
	width: 52px;
	height: 52px;
	background: url('../images/next.png') no-repeat;
	top: 50%;
	right: 0;
	position: absolute;
	border: 0;
	z-index: 2;
}

.project-home__wrap button:focus {
	outline: 0;
}

/*footer*/
.site-footer {
	background: #3a3a3a;
	position: relative;
	padding: 30px 0;
}

.site-footer__wrap {
	position: relative;
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(4, 1fr);
}

.site-footer__item {
	position: relative;
}

.site-footer__item h2 {
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
}

.site-footer__item ul {
	padding: 0;
	margin: 0;
}

.site-footer__item ul svg {
	width: 16px;
	height: 16px;
	fill: #fac14d;
	margin-right: 5px;
}

.site-footer__item li {
	list-style: none;
	color: #fff;
	margin-bottom: 15px;
}

.site-footer__item li i {
	color: #fac14d;
}

.site-footer__item a {
	color: #fff;
	text-decoration: none;
}

.site-footer__item iframe {
	width: 100%;
	height: 150px;
}

ul.social {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 20px;
}

ul.social li {
	margin-right: 10px;
}

ul.social svg {
	width: 25px;
	height: 25px;
	fill: #fac14d;
}

.footer-bottom {
	position: relative;
	background: #333333;
}

.footer-bottom ul {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 10px 0;
}

.footer-bottom ul li {
	list-style: none;
	margin-right: 10px;
	color: #fff;
	font-weight: 400;
}

.footer-bottom ul li svg {
	width: 15px;
	height: 15px;
	fill: #00adee;
	margin-right: 5px;
}

.footer-bottom ul li a {
	color: #fff;
}

/*CSS about us*/
.alignleft {
	float: left;
}

.about-us {
	position: relative;
	background: #292929;
	padding: 50px 0;
}

.about-us__wrap {
	width: 75%;
	margin: 0 auto;
	color: #fff;
	font-size: 16px;
	text-align: justify;
}

.about-us__wrap img {
	margin: 0 auto;
	margin-bottom: 15px;
}

/*CSS member*/
.member {
	position: relative;
	padding: 30px 0;
}

.member h2.title {
	font-size: 42px;
	color: #000;
	text-transform: uppercase;
	margin: 0 0 20px;
	font-weight: 700;
	text-align: center;
}

.member__wrap {
	position: relative;
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(3, 1fr);
}

.member__item {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.member__image {
	position: relative;
	border: 1px solid #ccc;
}

.member__image::after {
	content: '';
	display: block;
	padding-bottom: 150%;
}

.member__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.member__content {
	position: relative;
	margin: 30px 0 0;
}

.member__content h3 {
	color: #000;
	text-transform: uppercase;
	font-weight: 400;
}

.member__content p {
	color: #595959;
	margin: 0;
}

.member__content a.download {
	color: #595959;
	text-decoration: none;
}

.client__wrap {
	position: relative;
	overflow: hidden;
	margin-top: 50px;
	border-top: 1px solid #ccc;
	padding-top: 30px;
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(5, 1fr);
}

.client__item {
	position: relative;
	overflow: hidden;
}

.client__image {
	position: relative;
}

.client__image::after {
	content: '';
	display: block;
	padding-bottom: 126%;
}

.client__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.client__content {
	position: relative;
	margin-top: 30px;
}

.client__content h3 {
	font-size: 18px;
	color: #000;
	font-weight: 400;
}

/*Contact us*/
.contact-us {
	position: relative;
	padding: 50px 0;
}

.contact-us__wrap {
	position: relative;
	overflow: hidden;
	display: grid;
	gap: 50px;
	grid-template-columns: repeat(2, 1fr);
}

.contact-us__form {
	position: relative;
}

.contact-us__form h2 {
	font-size: 26px;
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.contact-us__form h2.title {
	margin-top: 20px;
}

.contact-us__form input,
.contact-us__form textarea {
	width: 100%;
	position: relative;
	border: 1px solid #ccc;
	margin-bottom: 15px;
	padding: 5px 15px;
	border-radius: 5px;
}

.contact-us__form label {
	font-weight: 600;
}

.loai-du-an {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.loai-du-an label {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 20px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-weight: 400;
}

.loai-du-an input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.loai-du-an .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}

.loai-du-an .checkmark:after {
	content: "";
	position: absolute;
	display: block;
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.loai-du-an input:checked~.checkmark {
	background-color: #2196F3;
}

.contact-us__form .btn-submit {
	width: auto;
	background: #ffaf15;
	color: #fff;
	margin: 0 auto;
	display: table;
	border: 0;
	padding: 10px 40px;
}

.contact-us__form .btn-submit:hover {
	background: #000;
}

.contact-us__address {
	position: relative;
}

.contact-us__address h2 {
	font-size: 20px;
	text-transform: uppercase;
	color: #000;
	margin: 0 0 15px;
}

.contact-us__address h3 {
	font-size: 18px;
	color: #000;
	text-transform: uppercase;
	margin: 0 0 10px;
}

.contact-us__address p {
	color: #000;
	margin: 0;
}

.contact-us__address p a {
	color: #000;
}

.contact-us__address img.contact {
	margin: 20px auto;
}

.contact-us__address iframe {
	width: 100%;
	height: 250px;
}

/*Project*/
.project {
	position: relative;
	padding: 50px 0;
}

.project h2.title::before {
	content: '';
	display: block;
	width: 50%;
	height: 4px;
	background: #000;
	margin: 0 auto;
	margin-bottom: 30px;
}

.project h2.title {
	font-size: 32px;
	color: #000;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.project h2.title strong {
	font-weight: 700;
}

.project__wrap {
	position: relative;
	overflow: hidden;
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(3, 1fr);
}

.project__item {
	position: relative;
	overflow: hidden;
	background: url('../images/bg_project.jpg') no-repeat bottom left;
	background-position: -115px 20px;
	padding-bottom: 15px;
}

.project__image {
	position: relative;
	margin-left: 15px;
}

.project__image::after {
	content: '';
	display: block;
	padding-bottom: 100%;
}

.project__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.project__content {
	position: absolute;
	margin-left: 15px;
	bottom: 15px;
	padding: 0 15px 15px;
}

.project__content h3 a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	line-height: 1.4;
}

.project__content h4 {
	font-size: 14px;
	color: #fff;
	margin: 0;
	text-transform: uppercase;
	display: inline-block;
	border-bottom: 1px solid #fff;
	font-weight: 400;
}

/*Service*/
.services {
	position: relative;
	padding: 50px 0;
}

.services__wrap {
	position: relative;
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	align-items: start;
	margin-bottom: 30px;
}

.services__title {
	width: 20%;
	position: relative;
	background: #a9a9a9;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.services__title h2 {
	font-size: 20px;
	color: #000;
	font-weight: 500;
	text-transform: uppercase;
	padding: 97px 20px;
}

.services__inner {
	width: 80%;
}

.services__inner .slick-prev {
	width: 52px;
	height: 52px;
	background: url(../images/prev.png) no-repeat;
	top: 50%;
	left: 0;
	position: absolute;
	border: 0;
	z-index: 2;
}

.services__inner .slick-next {
	width: 52px;
	height: 52px;
	background: url(../images/next.png) no-repeat;
	top: 50%;
	right: 0;
	position: absolute;
	border: 0;
	z-index: 2;
}

.services__inner .slick-prev:focus,
.services__inner .slick-next:focus {
	outline: 0;
}

.services__item {
	position: relative;
	padding: 0 3px;
	overflow: hidden;
}

.services__item h3.entry-title {
	position: absolute;
	bottom: 0;
	z-index: 2;
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
	padding: 0 15px;
}

.services__item h3.entry-title a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}

.services__item:hover h3.entry-title a {
	color: #fac14d;
}

.services__image {
	position: relative;
	overflow: hidden;
}

.services__image::after {
	content: '';
	display: block;
	padding-bottom: 60%;
}

.services__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 1s ease;
}

.services__item:hover img {
	transform: scale(1.1);
}

.services__content p {
	margin: 10px 0 0;
}

/*CSS News*/
.news {
	position: relative;
	padding: 50px 35px;
}

.news h2.title {
	color: #000;
	text-transform: uppercase;
	font-size: 20px;
	margin: 0 0 20px;
}

.news__wrap {
	position: relative;
	overflow: hidden;
	display: grid;
	gap: 50px;
	grid-template-columns: repeat(2, 1fr);
}

.news__item {
	position: relative;
	overflow: hidden;
	display: grid;
	gap: 30px;
	grid-template-columns: 30% 1fr;
}

.news__thumbnail {
	position: relative;
	overflow: hidden;
}

.news__thumbnail::after {
	content: '';
	display: block;
	padding-bottom: 75%;
}

.news__thumbnail img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 1s ease;
}

.news__item:hover img {
	transform: scale(1.1);
}

.news__content {
	position: relative;
	text-align: justify;
	display: flex;
	flex-wrap: wrap;
}

.news__content h3 {
	font-size: 18px;
	color: #000;

}

.news__content a {
	color: #000;
	text-decoration: none;
}

.news__item:hover .news__content a {
	color: #fac14d;
}

.news__content p.entry-date {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
}

.news__content p.entry-date img {
	width: 16px;
	margin-right: 5px;
}

/*Mobile*/
@media (max-width: 1023px) {
	.menu-toggle {
		display: block;
	}

	.menu-toggle:focus {
		outline: none;
	}

	.nav {
		display: none;
	}

	.menu {
		transform: translateY(100%);
		transition: all 0.5s ease-in-out;
	}

	.nav.is-open {
		display: block;
	}

	.nav.is-open .menu {
		position: absolute;
		top: 85px;
		right: 0;
		left: 0;
		text-align: right;
		background: rgba(0, 0, 0, 0.5);
		transform: translateY(0);
		display: block;
	}

	.nav.is-open .sub-menu {
		position: relative;
		right: 0;
		left: auto;
		width: auto;
		background: no-repeat;
		border: 0;
	}

	.nav.is-open .sub-menu li {
		border: 0;
		color: #fff;
	}

	.nav.is-open li:hover .sub-menu a {
		color: #fff;
	}

	.nav.is-open .sub-menu a {
		color: #fff;
	}

	.quy-trinh__item {
		margin-bottom: 30px;
		gap: 30px;
	}

	.quy-trinh__item:nth-child(2n) .quy-trinh__image {
		order: 1;
	}

	.quy-trinh__item:nth-child(2n) .quy-trinh__content {
		order: 2;
		margin: 0;
	}

	.quy-trinh__inner {
		gap: 30px;
	}

	.quy-trinh__content {
		margin: 0;
	}

	.quy-trinh__item::after {
		display: none;
	}
}

@media (max-width:767px) {
	.service-home__item {
		width: 100%;
		flex-direction: column;
	}

	.service-home__item a.seemore {
		justify-content: center;
	}

	.site-footer__wrap {
		grid-template-columns: repeat(2, 1fr);
	}

	.project-home {
		overflow: hidden;
	}

	.project-home ul.tabs {
		overflow-x: scroll;
		display: -webkit-inline-box;
		flex-wrap: inherit;
		padding: 0;
		margin-bottom: 30px;
	}

	.quy-trinh__item {
		text-align: center;
	}

	.quy-trinh__content {
		width: 100%;
		padding: 0;
	}

	.about-us__wrap {
		width: 100%;
	}

	.contact-us__wrap {
		grid-template-columns: repeat(1, 1fr);
	}

	.project__wrap {
		grid-template-columns: repeat(2, 1fr);
	}

	.services__wrap {
		align-items: inherit;
	}

	.services__title h2 {
		padding: 0;
		font-size: 15px;
	}

	.news__wrap {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (max-width:480px) {
	.member__wrap {
		grid-template-columns: repeat(1, 1fr);
	}

	.client__wrap {
		grid-template-columns: repeat(2, 1fr);
	}

	.site-footer__wrap {
		grid-template-columns: repeat(1, 1fr);
	}

	.news__item {
		grid-template-columns: repeat(1, 1fr);
	}
}